<!-- Footer -->
<footer class="text-center text-lg-start position-relative bottom-0 bg-light text-muted">
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col mt-3 text-center">
          <h6 class="text-uppercase fw-bold mb-4">
            Liens utiles
          </h6>
          <p>
            <a href="https://saintjeoireescalade.wordpress.com/quelques-regles-de-securites-2/quelques-techniques-de-bases/"
                          class="text-reset">Technique de base</a>
          </p>
          <p>
            <a href="https://www.auvieuxcampeur.fr/guide-de-choix-materiel-escalade" class="text-reset">Choisir son équipement</a>
          </p>
        </div>
        
        <div class="col mt-3 text-center">
          <h6 class="text-uppercase fw-bold mb-4">mise en forme</h6>
          <p>
            <a href="https://github.com/thimibka/ZoneEscalade.git" class="link-secondary">
              ZoneEscalade.git </a>
          </p>
        </div>
      </div>
    </div>
    <div class="colfoot w-100">
      <h6 class="d-flex justify-content-center m-0">
        Copyright © 2024-Tous droits résérvés. Mentions légales/Conditions Générales de vente
      </h6>
    </div>
  </section>
</footer>
